table {
	border-collapse:collapse;
	border-bottom: 2px solid black;
}

.thead {
	background-color: #FFCC00;
	text-align: center;
	border-bottom: 2px solid black;
}

td {
	padding: 4px;
	border-bottom: 1px dotted gray;
}

td.left {
	border-right: 1px dotted gray;
}